version: 2
jobs:
  build:
    working_directory: ~/sandbox
    docker:
      - image: circleci/php:7.2.12
    steps:
      - checkout
      - restore_cache:
          key: composer-{{ checksum "composer.lock" }}
      - run:
          name: composer install
          command: php composer.phar install -n --prefer-dist
      - save_cache:
          key: composer-{{ checksum "composer.lock" }}
          paths:
            - vendor
