version: 2
jobs:
  build:
    working_directory: ~/${CIRCLE_PROJECT_REPONAME}
    docker:
      - image: php:7.1.3
      - image: mysql5.6

    environment:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - run: pwd
