version: 2
jobs:
  build:
    working_directory: ~/sandbox
    docker:
      - image: php:7.1.3
      - image: mysql:5.6
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: 1
          TZ: "/usr/share/zoneinfo/Asia/Tokyo"

    environment:
      DEBIAN_FRONTEND: noninteractive
      TZ: "/usr/share/zoneinfo/Asia/Tokyo"

    steps:
      - checkout
